[Adblock Plus 2.0]
! Title: Makani Private Block List
! Last modified: %timestamp%
! Homepage: https://github.com/rusingineer/mpbl
!
! This is a private list,
! will not provide any technical support
! Russian support of https://github.com/rusingineer/mpbl
! please create issues
! GNU GPL 2+ Licensed
! coding: utf-8, expires: 5 days
!
!-----------------------General advert blocking filters-----------------------!
%include easylist:easylist/easylist_general_block.txt%
%include easylist:easylist/easylist_general_block_dimensions.txt%
%include easylist:easylist/easylist_general_block_popup.txt%
!------------------------General element hiding rules-------------------------!
%include easylist:easylist/easylist_general_hide.txt%
%include easylist:easylist/easylist_allowlist_general_hide.txt%
!---------------------------Third-party advertisers---------------------------!
%include easylist:easylist/easylist_adservers.txt%
%include easylist:easylist/easylist_adservers_popup.txt%
%include easylist:easylist_adult/adult_adservers.txt%
%include easylist:easylist_adult/adult_adservers_popup.txt%
!-----------------------------Third-party adverts-----------------------------!
%include easylist:easylist/easylist_thirdparty.txt%
%include easylist:easylist/easylist_thirdparty_popup.txt%
%include easylist:easylist_adult/adult_thirdparty.txt%
%include easylist:easylist_adult/adult_thirdparty_popup.txt%
!----------------------Specific advert blocking filters-----------------------!
%include easylist:easylist/easylist_specific_block.txt%
%include easylist:easylist/easylist_specific_block_popup.txt%
%include easylist:easylist_adult/adult_specific_block.txt%
%include easylist:easylist_adult/adult_specific_block_popup.txt%
!------------------------Specific element hiding rules------------------------!
%include easylist:easylist/easylist_specific_hide.txt%
%include easylist:easylist/easylist_specific_hide_abp.txt%
%include easylist:easylist_adult/adult_specific_hide.txt%
!-----------------------Allowlists to fix broken sites------------------------!
%include easylist:easylist/easylist_allowlist.txt%
%include easylist:easylist/easylist_allowlist_dimensions.txt%
%include easylist:easylist/easylist_allowlist_popup.txt%
%include easylist:easylist_adult/adult_allowlist.txt%
%include easylist:easylist_adult/adult_allowlist_popup.txt%
!--------------------------General blocking rules-----------------------------!
%include easylist:easylist_cookie/easylist_cookie_general_block.txt%
!------------------------General element hiding rules-------------------------!
%include easylist:easylist_cookie/easylist_cookie_general_hide.txt%
!-------------------------Third-party blocking rules--------------------------!
%include easylist:easylist_cookie/easylist_cookie_thirdparty.txt%
!--------------------------Specific blocking filters--------------------------!
%include easylist:easylist_cookie/easylist_cookie_specific_block.txt%
!------------------------Specific element hiding rules------------------------!
%include easylist:easylist_cookie/easylist_cookie_specific_hide.txt%
%include easylist:easylist_cookie/easylist_cookie_specific_ABP.txt%
!------------------------Rules for international sites------------------------!
%include easylist:easylist_cookie/easylist_cookie_international_specific_hide.txt%
%include easylist:easylist_cookie/easylist_cookie_international_specific_block.txt%
!---------------------------------Allowlists----------------------------------!
%include easylist:easylist_cookie/easylist_cookie_allowlist_general_hide.txt%
%include easylist:easylist_cookie/easylist_cookie_allowlist.txt%
!-----------------General tracking systems-----------------!
%include easylist:easyprivacy/easyprivacy_general.txt%
!-----------------Third-party tracking domains-----------------!
%include easylist:easyprivacy/easyprivacy_trackingservers.txt%
!-----------------International third-party tracking domains-----------------!
%include easylist:easyprivacy/easyprivacy_trackingservers_international.txt%
!-----------------Third-party tracking services-----------------!
%include easylist:easyprivacy/easyprivacy_thirdparty.txt%
!-----------------International third-party tracking services-----------------!
%include easylist:easyprivacy/easyprivacy_thirdparty_international.txt%
!-----------------Individual tracking systems-----------------!
%include easylist:easyprivacy/easyprivacy_specific.txt%
!-----------------Individual cname tracking systems-----------------!
%include easylist:easyprivacy/easyprivacy_specific_cname.txt%
!-----------------International individual tracking systems-----------------!
%include easylist:easyprivacy/easyprivacy_specific_international.txt%
!-----------------------Allowlists to fix broken sites------------------------!
%include easylist:easyprivacy/easyprivacy_allowlist.txt%
!----------------Allowlists to fix broken international sites-----------------!
%include easylist:easyprivacy/easyprivacy_allowlist_international.txt%
!--------------------------General blocking rules-----------------------------!
%include easylist:fanboy-addon/fanboy_annoyance_general_block.txt%
%include easylist:fanboy-addon/fanboy_notifications_general_block.txt%
%include easylist:fanboy-addon/fanboy_newsletter_general_block.txt%
%include easylist:fanboy-addon/fanboy_social_general_block.txt%
%include easylist:easylist_cookie/easylist_cookie_general_block.txt%
!------------------------General element hiding rules-------------------------!
%include easylist:fanboy-addon/fanboy_annoyance_general_hide.txt%
%include easylist:fanboy-addon/fanboy_notifications_general_hide.txt%
%include easylist:fanboy-addon/fanboy_newsletter_general_hide.txt%
%include easylist:fanboy-addon/fanboy_social_general_hide.txt%
%include easylist:easylist_cookie/easylist_cookie_general_hide.txt%
!-------------------------Third-party blocking rules--------------------------!
%include easylist:fanboy-addon/fanboy_annoyance_thirdparty.txt%
%include easylist:fanboy-addon/fanboy_notifications_thirdparty.txt%
%include easylist:fanboy-addon/fanboy_newsletter_thirdparty.txt%
%include easylist:fanboy-addon/fanboy_social_thirdparty.txt%
%include easylist:fanboy-addon/fanboy_sounds_thirdparty.txt%
%include easylist:easylist_cookie/easylist_cookie_thirdparty.txt%
!--------------------------Specific blocking filters--------------------------!
%include easylist:fanboy-addon/fanboy_annoyance_specific_block.txt%
%include easylist:fanboy-addon/fanboy_notifications_specific_block.txt%
%include easylist:fanboy-addon/fanboy_newsletter_specific_block.txt%
%include easylist:fanboy-addon/fanboy_social_specific_block.txt%
%include easylist:easylist_cookie/easylist_cookie_specific_block.txt%
!------------------------Specific element hiding rules------------------------!
%include easylist:fanboy-addon/fanboy_annoyance_specific_hide.txt%
%include easylist:fanboy-addon/fanboy_notifications_specific_hide.txt%
%include easylist:fanboy-addon/fanboy_newsletter_specific_hide.txt%
%include easylist:fanboy-addon/fanboy_newsletter_specific_ABP.txt%
%include easylist:fanboy-addon/fanboy_social_specific_hide.txt%
%include easylist:easylist_cookie/easylist_cookie_specific_hide.txt%
%include easylist:easylist_cookie/easylist_cookie_specific_ABP.txt%
!------------------------Rules for international sites------------------------!
%include easylist:fanboy-addon/fanboy_annoyance_international.txt%
%include easylist:fanboy-addon/fanboy_social_international.txt%
%include easylist:fanboy-addon/fanboy_newsletter_international_block.txt%
%include easylist:fanboy-addon/fanboy_newsletter_international_hide.txt%
%include easylist:easylist_cookie/easylist_cookie_international_specific_hide.txt%
%include easylist:easylist_cookie/easylist_cookie_international_specific_block.txt%
!---------------------------------Allowlists----------------------------------!
%include easylist:fanboy-addon/fanboy_annoyance_allowlist_general_hide.txt%
%include easylist:fanboy-addon/fanboy_notifications_allowlist_general_hide.txt%
%include easylist:fanboy-addon/fanboy_social_allowlist_general_hide.txt%
%include easylist:fanboy-addon/fanboy_newsletter_allowlist.txt%
%include easylist:fanboy-addon/fanboy_newsletter_allowlist_general_hide.txt%
%include easylist:easylist_cookie/easylist_cookie_allowlist_general_hide.txt%
%include easylist:fanboy-addon/fanboy_annoyance_allowlist.txt%
%include easylist:fanboy-addon/fanboy_notifications_allowlist.txt%
%include easylist:easylist_cookie/easylist_cookie_allowlist.txt%
%include easylist:fanboy-addon/fanboy_social_allowlist.txt%
!-----------------------General advert blocking filters China-----------------!
%include Gythialy:Gythialy-s-List/my_custom_list.txt%
%include Gythialy:Gythialy-s-List/my_custom_list_hide.txt%
!-----------------------General advert blocking filters YousList--------------!
%include YousList:YousList/youslist.txt%
! = Сайты-попапы (самостоятельно открываются в новом окне) ====================
%include advblock/popup.txt%
!
! = Общие CSS-фильтры =========================================================
%include advblock/general_hide.txt%
!
! = Общие правила блокировки ==================================================
%include advblock/general_block.txt%
!
! = Блокировка доменов ========================================================
%include advblock/first_level.txt%
! -----------------------------------------------------------------------------
%include advblock/thirdparty.txt%
! -----------------------------------------------------------------------------
%include advblock/adservers.txt%
!
! = Частные правила для сайтов(блокировка и скрытие) ==========================
%include advblock/specific_hide.txt%
! -----------------------------------------------------------------------------
%include advblock/specific_block.txt%
! -----------------------------------------------------------------------------
%include advblock/specific_special.txt%
! -----------------------------------------------------------------------------
%include advblock/specific_antisocial.txt%
!
! = Исключения ================================================================
%include advblock/whitelist.txt%
!---------------------------------MPBL----------------------------------!
%include mpub_increment.txt%